<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--这边里面写别名-->
    <typeAliases>
        <!--<typeAlias type="com.kuang.pojo.User" alias="User"/>&lt;!&ndash;给实体类取别名&ndash;&gt;-->
        <!--别名就是这个类的小写字母 这边对应的也是user  如果实体类比较多用第二种 如果有注解别名为注解值-->
        <package name="com.bjp.domain"/>
    </typeAliases>

    <!--每一个mapper。xml都需要再mybatis核心配置文件中注册-->
    <mappers>
        <!-- 这边是根据xml路径去注册-->
        <!--<mapper resource="com/kuang/dao/UserMapper.xml"/>-->
        <!-- 现在尝试用类来映射 但是使用class会出现一点问题，要求接口和他的Mapper配置文件必须同名，
        接口和他的Mapper配置文件必须在同一个包下！-->
        <!-- <mapper class="com.kuang.dao.UserMapper"/>-->
        <!--在用package扫描 如果文件名不一样的话 又要出现这个问题了-->
        <package name="com.bjp.dao"/>
    </mappers>
</configuration>