<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--school模块所有的bean申明-->


<!--    声明school对象  前后关系没有关系 如果没有创建对应对象 会二次扫描文件-->
    <bean id="mySchool" class="com.bjp.ba06.School">
        <property name="name" value="航空大学"/>
        <property name="address" value="BJ 海淀区"/>
    </bean>



</beans>